---
import Layout from '../layouts/Layout.astro';
interface Frontmatter {
  title: string;
  description?: string;
}

const blogs = await Astro.glob<Frontmatter>('../pages/blog/*.md');

---

<Layout title="ブログ一覧">
	<ul>
		{blogs.map(blog => 
			<li><a href={blog.url}>{blog.frontmatter.title}　{blog.frontmatter.tags}について</a></li>
		)}
	</ul>
</Layout>
